*{
    box-sizing: border-box;
}

:root{
    --bordercolor: rgba(69, 63, 120,1.0);
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container,#statistic-area{
    width: 600px;
    height: 600px;
    border: 1px solid var(--bordercolor);
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.212);
    user-select: none;
    display: flex;
    flex-direction: column;
}

#header{
    border-bottom: 1px solid var(--bordercolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(69, 63, 120);
    color: white;
    padding: 0.5em 1em;
}

#header > span{
    font-weight: bold;
    font-size: 2em;
}

#timer{
    height: 70%;
    display: inline-block;
    background-color: rgb(192, 139, 92);
    display: flex;
    align-items: center;
    border-radius: 3px;
}

#timer span{
    padding: 0 0.5em;
}

#timer-time-remaining{
    background-color: rgb(121, 84, 88);
    padding: 0.5em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#question-area{
    display: flex;
    flex-direction: column;
    padding: 1em 1em;
    flex-grow: 1;
}

#question{
    font-size: 2em;
    font-weight: 600;
    margin: 0;
}

.question-option{
    border: 1px solid var(--bordercolor);
    border-radius: 5px;
    font-size: 1.5;
    margin-top: 0.5em;
    padding: 0.5em 1em;
    cursor: pointer;
}

.question-option:hover{
    transform: scale(1.01);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease;
}

.question-option span{
    margin-left: 0.5em;
    pointer-events: none;
}

#strip{
    display: flex;
    justify-content: center;
    gap:0.15em;
    padding: 0.5em 0;
}

.strip-element{
    border: 1px solid var(--bordercolor);
    border-radius: 50%;
    width: 0.8em;
    height: 0.8em;
    cursor: pointer;
}

.strip-element:hover{
    transform: scale(1.1);
    transition: all 0.2s;
}

#footer{
    border-top: 1px solid var(--bordercolor);
    display: flex;
    justify-content: space-around;
    padding: 1em 1em;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.1);
    color: white;
    
}

#footer div[id|="btn"],#btn-close{
    border: 1px solid var(--bordercolor);
    border-radius: 0.3em;
    padding: 0.5em 1em;
    background-color: var(--bordercolor);
    cursor: pointer;
    width: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer div[id|="btn"]:hover,#btn-close:hover{
    transform: scale(1.05);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease;
}

#question-order{
    background-color: rgb(255, 201, 74);
    padding: 0.3em 0.8em;
    border-radius: 0.3em;
}

#time-strip{
    height: 1em;
    background-color: rgb(192, 139, 92);
}

#statistic-area{
    opacity: 0;
    transform: scale(0.5);
    display: flex;
    align-items: center;
}

#data-area{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#data-area div{
    width: 100px;
    height: 100px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.212);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5em;
}

#data-correct{
    border:1px solid #58e07b;
}

#data-incorrect{
    border:1px solid #f27e7e;
}

#data-empty{
    border:1px solid #cededd;
}

h1{
    margin-top: 5em;
}

#btn-close{
    color: white;
    cursor: pointer;
    background-color: #f27e7e;
    margin-top: 1em;
}