@font-face {
    font-family: "Monsterrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Monsterrat";
    src: url("../fonts/Montserrat-Italic-VariableFont_wght.ttf");
    font-style: italic;
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: unset;
}

body{
    margin: 0;
    font-family: "Monsterrat";
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3em;
    border-bottom: 1px solid;
    font-size: 1.5em;
}

.theme{
    width: 1.2em;
    height: 1.2em;
    background-color: black;
    border: 1px solid black;
    border-radius: 100%;
    cursor: pointer;
}

.account{
    width: 1.2em;
    height: 1.2em;
    border: 1px solid black;
    border-radius: 100%;
    cursor: pointer;
}

.header-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1em;
}

header .title{
    font-weight: bold;
}