*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

#calculator-container{
    border: 1px solid black;
    height: 90vh;
    aspect-ratio: 16/9;
    position: relative;
    top:50vh;
    margin: 0 auto;
    transform: translateY(-50%);
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.55), -1px -1px 10px 0px rgba(0, 0, 0, 0.55);
    display: flex;
    flex-direction: column;
}

#display-results-area{
    flex-grow: 4;
    display: flex;
    flex-direction: column-reverse;
}

#display-input-area{
    flex-basis: 3em;
    border-top: 1px solid black;
}

#display-input-area textarea{
    width: 90%;
    height: 100%;
    outline: none;
    border: none;
    resize: none;
    font-size: 3em;
    white-space:nowrap;
}

#input-area{
    border-top: 1px solid black;
    flex-grow: 1;
}

#options{
    flex-basis: 2em;
    border-top: 1px solid black;
}

#input-area-inputs{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}

#functions{
    border-right: 1px solid black;
    flex-grow: 5;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#functions > div{
    display: flex;
    flex-direction: row;
}

#numpad{
    border-left: 1px solid black;
    display:flex;
    flex-direction: column;
}

#numpad > div{
    display: flex;
    flex-direction: row;
}

#numpad > div:last-child{
    display: flex;
    justify-content: space-between;
}

#minimalize-input-area-inputs{
    display: inline-block;
    height: 100%;
    aspect-ratio: 1/1;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#minimalize-input-area-inputs:hover{
    cursor:pointer;
}

#rad-deg-option{
    display: inline-block;
    height: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#result-area{
    float:right;
    height: 100%;
    width: 10%;
    border-left: 1px solid black;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.memory-item{
    height: 25%;
    border: 1px solid black;
}

.memory-item div{
    float: right;
    width: 20%;
    border-left: 1px solid black;
}

.numpad-button{
    width: 3em;
    height: 2em;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    user-select: none;
}

.numpad-button:hover{
    cursor: pointer;
    border-width: 2px;
}

.numpad-button:active{
    border-color: red;
    border-width: 2px;
}

.lr-button{
    width: 4.5em;
}