::selection{
    color: white;
    background-color: black;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    user-select: none;
}

#container{
    border: 1px solid black;
    border-radius: 5px;
    width: 660px;
    /* height: 260px; */
    flex-shrink: 0;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.301);
    display: flex;
    flex-direction: column;
}

#image{
    aspect-ratio: 1;
    height: 200px;
}

#sup{
    display: flex;
    height: 85%;
    padding: 15px;
}

#image img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    /* border: 1px solid black; */
    box-shadow: 0 0 5px 1px black;
}

#sub{
    border-top: 1px solid black;
}

#info{
    user-select:text;
}

#sub-info{
    font-size: 0.5em;
}

#music-duration-area{
    width: 100%;
}

#range input{
    cursor: pointer;
    width: 100%;
    appearance:none;
    background-color: black;
    border: 1px solid black;
}

#range input::-webkit-slider-thumb{
    appearance: none;
    width: 17px;
    height: 17px;
    background-color: white;
}

#range input::-moz-range-thumb{
    appearance: none;
    width: 17px;
    height: 17px;
    background-color: white;
}

#aside{
    flex-grow: 1;
    margin-left:10px;
    display: flex;
    flex-direction: column;
}

#control-buttons{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

#control-buttons img{
    height: 35px;
    cursor: pointer;
}

#control-buttons img:hover{
    transform: scale(1.2);
}

#music-duration{
    display: flex;
    justify-content: space-between;
    font-size: 0.7em;
}

#sub{
    padding: 10px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

#volume{
    display: flex;
    align-items: center;
    justify-content: center;
}

#volume img{
    width: 20px;
    cursor: pointer;
}

#volume input{
    cursor: pointer;
    appearance: none;
    background-color: black;
    border: 1px solid black;
}

#volume input::-webkit-slider-thumb{
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: white;
}

#volume input::-moz-range-thumb{
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: white;
}

#shuffle-btn img,
#loop-btn img{
    opacity: 0.5;
}

#list-btn{
    width: 20px;
    height: 100%;
    display: flex;
    align-items: center;
}

#list-btn img{
    width: 100%;
    cursor: pointer;
}

#list{
    border-top: 1px solid black;
    user-select: text;
    opacity: 0;
    transition: all 0.5s;
}

#list ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0.7em;
}

#list li{
    padding: 10px;
}

#list li:hover{
    transform: scaleY(1.05);
    box-shadow: 0 0 3px 0 black;
}

.list-element{
    display: flex;
    justify-content: space-between;
}

.left-container{
    display: flex;
    gap: 1em;
}

.list-element .left{
    display: flex;
    align-items: center;
}

.list-element .middle{
    font-size: 0.8em;
    display: flex;
    align-items: center;
}

.list-element .right{
    border: 1px solid black;
    padding: 5px;
}